<div class="yellow-box">
  <h2 class="title">Search for rental cars</h2>
  <p>Pick-up Location</p>
  <div class="search-conatiner">
    <input
      type="text"
      autocomplete="off"
      placeholder="city, airport, station, region and district..."
      (keyup)="searchTerm$.next($event.target.value)"
    />
    <app-dropdown-list
      [resultsToDisplay]="resultsToDisplay"
      [message]="message"
    ></app-dropdown-list>
  </div>
</div>
