.yellow-box {
  background: linear-gradient(to bottom, #f5d361 0%, #e7bf3b 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 20px 0 20px 0;
  /* width: 100%; */
  padding: 38px;
}

.yellow-box .search-conatiner{
  width:95%;
}

.yellow-box .search-conatiner app-dropdown-list{
  width: 100%;
}

.yellow-box h2{
  margin-top: 0px;
}

.yellow-box .search-conatiner input {
  border-color: #8E8E8E #E1E1E1 #E1E1E1 #8E8E8E;
  border-style: solid;
  border-width: 0.5px;
  font-size: 9px;
  border-radius: 4px;
  max-width: 700px;
  padding: 12px;
  width: calc(100% - 24px);
}

.yellow-box p{
  font-size: 10px;
}

h1.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
  color: #000;
  margin-top: 20px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  padding: 0 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}
