.single-result{
  height: 20px;
  background: white;
  width: calc(100%-10px);
  border-top: 0.5px solid #E1E1E1;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 5px;
}

.result-container{
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-color: #E1E1E1;
  border-style: solid;
  border-width: 0.5px;
  background: white;
}

.place-type{
  font-size: 8px;
  background-color: #E1E1E1;
  border-radius: 3px;
  padding:2px;
}
