
<div *ngIf="resultsToDisplay !== null && resultsToDisplay.length !== 0 && message === null">
  <div class="result-container">
    <div class="single-result" *ngFor="let result of resultsToDisplay">
      <span class="place-type">{{ result.placeType }}</span> {{ result.name }},
      {{ result.country }}
    </div>
  </div>
</div>

<div *ngIf="message !== null">{{ message }}</div>
